/* Name:Rakibul Hasan ID:2221102 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Home Page Background Image */
body.home {
    background-image: url('Image/pexels-riiyad-17023367.jpg')
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    background-color: rgba(195, 38, 137, 0.7); 
    padding: 15px 0;
    z-index: 1000;
}
